@media (max-width:468px){
  .recommandations-info{
    display:block;
  }
  .recommandations .liste{
    text-align:center;
  }
  }
  @media (max-width:768px){
  .container {
    display:block;
  }
  .header{
    width:100%;
  }
  .info{
    width:100%;
  }
  h4{
    font-size:1.3em;
    text-align: center;
  }
   .profil h1, .profil h5{
    display:block;
  }
  .profil h1{
    margin-top:0.5em;
  }
  .loisirs{
    margin-top:0;
  }
   .loisirs p{
    margin-top:0;
  }
  #cv{
    font-size:1em;
  }
  #cv .info-header h2, .info-header h5{
    display:none;
  }
  #cv .formation-info{
    display: block;
    text-align:center;
  }
  .formation-info .date{
    width:100%;
    margin-bottom:10px;
  }
  .formation-info .description{
    width:100%;
  }

  .description h4{
    font-weight: 500;
    font-size: 1.15em;
  }
  .description h4, .description h5{
    width:100%;
    text-align:center;
  }
  .recommandations p{
    font-size: 1em;
  }

}
@media (min-width: 769px){
  .loisirs{
    margin-top:80px;
  }
  .loisirs p{
    text-align:center;
    margin-top:10px;
    margin-bottom:0;
  }
}
@media (min-width:992px){
   .loisirs{
    margin-top:97px;
  }
}
